.container{
    background: rgb(168,207,8);
background: linear-gradient(317deg, rgba(168,207,8,1) 0%, rgba(161,194,24,1) 47%, rgba(107,156,14,1) 100%);
    height: 100%;
    width: 60%;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
}

.containerForm{
    margin-left: 50%;
    height: 100%;
    transition: 0.5s;
}

.input{
    margin-top: 16px;
    margin-left: 20px;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    height: 30px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
}
.input:focus{
    outline: 0;
}

.button{
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 16px;
    position: absolute;
    margin-left: 220px;
    font-size: 1.2rem;
    height: 30px;
    width: 50px;
    color: white;
    background-color: #5bb917;
    cursor: pointer;
} 

.lupa{
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-image: url("../../img/lupa.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}